@import url(http://fonts.googleapis.com/css?family=Strait);

a{
	color: #222;
	text-decoration: none;
}

body{
	background: #008fd5;
	font-family: 'Strait';
	font-size: 16px;
	height: 100%
}

figcaption{
	font-size: 1.2em;
	margin-left: 0.5em;
	text-transform: uppercase;
	width: 70%;
}

figcaption, img{
	display: inline-block;
	text-align: justify;
	vertical-align: middle;
}

h1 {
	color: #5F6164;
	font-weight: normal;
	margin: 0;
	padding-left: 0.5em;
	position: relative;
}

h1:before {
	content: '';
	background: #323e4a;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -2;
}

h1:after {
	content: '';
	background: white;
	display: block;
	height: 100%;
	left: -12px;
	position: absolute;
	transform: skewX(150deg);
	top: 0;
	width: 20%;
	z-index: -1;
}


img{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #cdd1d4;
	height: 7em;
	width: 10em;
}

section{
	/*position: relative;*/
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#clases{
	background: #fefefe;
	left: 0;
	position: absolute;
	transition: all 0.5s ease;
	width: 100%;
}

#clases a{
	cursor: pointer;
}


#clases ul li{
	background: #fefefe;
	border-bottom: 1px solid #cdd1d4;
	box-shadow: inset 0 11px 15px -14px #cdd1d4;	
	padding: 1em;
}

#clases ul li:first-child{
	border-top: 1px solid #cdd1d4;
}

#clases ul li:hover{
	box-shadow: 0 0 10px #d4d8da;
}

#contenido-clase{
	background: #fefefe;
	box-sizing: border-box;
	left: -110%;
	padding: 2em;
	position: absolute;
	transition: all 0.5s ease;
	width: 100%;
}

#contenido-clase iframe{
	height: 22em;
	width: 100%;
}

#libro{
	background: #fefefe;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
	width: 55%;
}

#libro, #side {
	display: inline-block;
	height: 100%;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	vertical-align: top;
}

#wrapper {
	bottom: 0.5em;
	left: 1em;
	position: absolute;
	right: 0.5em;
	top: 5em;
}

.regresar{
	background: #095e87;
	border-bottom: 3px solid #065073;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 12px 20px 11px;
	position: relative;
	text-align: right;
	text-transform: uppercase;
	width: 50%;
}

.regresar:before{
	border-bottom: 21px solid transparent;
	border-right: 24px solid #095e87;
	border-top: 20px solid transparent;
	content: "";
	left: -1.5em;
	position: absolute;
	top: 0em;
}