@import url(http://fonts.googleapis.com/css?family=Strait);

a{
	color: #222;
	text-decoration: none;
}

body{
	background: #008fd5;
	font-family: 'Strait';
	font-size: 16px;
}

figcaption{
	font-size: 1.2em;
	margin-left: 0.5em;
	text-transform: uppercase;
	width: 70%;
}

figcaption, img{
	display: inline-block;
	text-align: justify;
	vertical-align: middle;
}


img{
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	border: 1px solid #cdd1d4;
	height: 7em;
	width: 10em;
}

input[type="text"] {
	border: 2px solid #cdd1d4;
	border-radius: 0.3em;
	box-shadow: inset 0 0px 6px rgba(0,0,0,0.2);
	box-sizing: border-box;
	padding: 0.5em;
	width: 100%;
}

input[type="text"]:focus {
	height: 2.5em;
}

section{
	position: relative;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li{
	background: #fefefe;
	border-bottom: 1px solid #cdd1d4;
	box-shadow: inset 0 11px 15px -14px #cdd1d4;	
	padding: 1em;
}

ul li:first-child{
	border-top: 1px solid #cdd1d4;
}

ul li:hover{
	box-shadow: 0 0 10px #d4d8da;
}

#clases{
	background: #fefefe;
	left: 0;
	position: absolute;
	transition: all 0.5s ease;
	width: 55%;
}

#clases a{
	cursor: pointer;
}

#contenido-clase{
	background: #fefefe;
	left: -110%;
	padding: 2em;
	position: absolute;
	transition: all 0.5s ease;
	width: 50%;
}

#contenido-clase iframe{
	height: 22em;
	width: 100%;
}

#crear-pregunta{
	background: #e9eef4;
	padding: 0.5em;
}

#crear-pregunta button {
	background: #ffa500;
	border: 1px solid #c9910a;
	border-bottom: 3px solid #c9910a;
	border-radius: 0.2em;
	color: #896008;
	margin-top: 0.5em;
	padding: 0.5em 4em;
}

#preguntas{
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	width: 45%;
}

.regresar{
	background: #095e87;
	border-bottom: 3px solid #065073;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 12px 20px 11px;
	text-align: right;
	text-transform: uppercase;
	width: 50%;
}

.regresar:before{
	border-bottom: 21px solid transparent;
	border-right: 24px solid #095e87;
	border-top: 20px solid transparent;
	content: "";
	left: 0.5em;
	position: absolute;
	top: 2em;
}