<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Mini Plataforma</title>

	<link rel="stylesheet" href="/static/css/normalize.css">
	<link rel="stylesheet" href="/static/css/clases.css">
</head>
<body>
	<header>
		<h1>Mini Plataforma</h1>
	</header>
	<section>
		<article id="clases">
			<ul>
				{% for clase in clases %}
				<li>
					<a href="#" data-id="{{ clase.id }}">
						<figure>
							<img src="/static/img/{{ clase.thumb }}">
							<figcaption>{{ clase.descripcion }}</figcaption>
						</figure>
					</a>
				</li>
				{% endfor %}
			</ul>
		</article>
	</section>
</body>
</html>